@media (prefers-reduced-motion: no-preference) {
  .fade-in-anim {
    scale: 0.3;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 300px;
  }

  .fade-out-anim {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
  }

  @keyframes fade-out {
    to {
      opacity: 0;
      scale: 0.3;
    }
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
