.stack-card {
  @apply w-full  h-[4rem] sm:h-[15rem] text-[1.5em] font-bold p-[0.5em]  sm:p-[1.2em] rounded-xl sm:rounded-[1.5rem] flex sm:flex-col items-center justify-between sm:justify-center border-[.15rem];
}

.app-logo {
  @apply sm:mt-[-1rem] pointer-events-none w-[3rem] sm:w-auto;
}

.app-button {
  @apply w-[2.5rem] h-[2.5rem] sm:w-auto sm:h-auto flex sm:block justify-center items-center rounded-[50%] sm:rounded-[5em] text-[0.8rem] min-[450px]:text-[.5rem] sm:text-[0.9rem] duration-200 sm:mt-[1rem] py-[0.6em] px-0 sm:px-[1.3em] bg-transparent border-[.1rem];
}

.card-title {
  @apply w-[8rem] font-my_exo2 sm:w-auto text-[1.3rem] min-[470px]:text-[1rem] sm:text-[1.5rem];
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
