/*? Astronaut */
.astronautWrapper {
  @apply relative p-[1rem] overflow-hidden h-full w-[15.5rem] flex flex-col md:gap-[1rem] items-center justify-center;
}

.astronautWrapper .image {
  animation: keyframes-floating-img 10s ease-in-out infinite;
}

.astronautWrapper .heading {
  @apply font-semibold text-2xl text-center mt-[calc(1em*-2)] text-white font-my_caveat;
  padding-block-start: 2em;
  animation: keyframes-flash-text 0.5s infinite;
}

.heading::after {
  @apply content-[""] pointer-events-none absolute w-full h-full rounded-[2rem] top-[0%] left-[50%] filter blur-xl font-iransans;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  animation: keyframes-intro 1s ease-in forwards;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes keyframes-flash-text {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes keyframes-intro {
    100% {
      transform: translate(-100%);
      opacity: 0;
    }
  }

  @keyframes keyframes-floating-img {
    0% {
      transform: translate(-2%, 2%) scaleY(0.95) rotate(-5deg);
    }

    50% {
      transform: translate(2%, -2%) scaleY(1) rotate(5deg);
    }

    100% {
      transform: translate(-2%, 2%) scaleY(0.95) rotate(-5deg);
    }
  }
}
