/* Syntax */
.editor p {
  color: #55bb8a !important;
}
.editor .mtk9 {
  color: #57c3c2;
}
.editor .mtk1 {
  color: #fffef8;
}
.editor .mtk22 {
  color: #ff006a;
}
.editor .mtk8 {
  color: #619ac3;
}
.editor .mtk5 {
  color: #55bb8a;
}
.editor .monaco-editor.showUnused .squiggly-inline-unnecessary {
  opacity: 0.7;
}
.editor .jsx-expression-braces {
  color: #f1908c;
}
.editor .jsx-tag-angle-bracket {
  color: #619ac3;
}
.editor .jsx-tag-angle-bracket.jsx-tag-order-1 {
  color: #12a182;
}
.editor .jsx-tag-angle-bracket.jsx-tag-order-2 {
  color: #4e7ca1;
}
.editor .jsx-tag-angle-bracket.jsx-tag-order-3 {
  color: #fb8b05;
}
.editor .jsx-tag-name {
  color: #e24c9e;
}
.editor .jsx-tag-attribute-key {
  color: #ffa60f;
}
.editor .jsx-text {
  color: #e6e676;
}

.editor .overflow-guard {
  @apply rounded-tr-xl rounded-tl-xl md:rounded-tr-none md:rounded-bl-none;
}
.editor .monaco-editor {
  border-radius: 0.75rem;
}

/* Editor */
.editorWrapper {
  @apply relative h-full w-full;
}

.formatterButton {
  @apply flex w-[1.8rem] h-[1.8rem] !absolute border-[2px] border-cyan-400 justify-center items-center cursor-pointer top-[0.5rem] right-[0.5rem] md:right-[1.5rem] z-[100] opacity-80 md:opacity-0 rounded-[50%];
  transition: opacity 0.3s ease-in-out !important;
}

.infoBox {
  @apply flex w-[1.8rem] h-[1.8rem] !absolute border-[2px] border-cyan-400 justify-center items-center cursor-help top-[0.5rem] right-[2.5rem] md:right-[3.6rem] z-[100] opacity-80 md:opacity-0 rounded-[50%];
  transition: opacity 0.3s ease-in-out !important;
}

.infoBox::after {
  @apply text-[0.8rem] md:text-[1rem] font-my_exo2 transition ease-in-out duration-[0.5s] opacity-0 absolute -top-[2rem] md:-top-0 rounded-3xl px-[0.5rem] -right-[2rem] md:right-[2rem] border border-cyan-400 w-max bg-black;
  content: "Code editor consumes your mouse and keyboard";
}

.infoBox:hover.infoBox::after {
  @apply opacity-100;
}

.editorWrapper:hover .formatterButton {
  opacity: 1;
}
