.progressWrapper {
  @apply h-full motion-safe:animate-[fade-in-bar_1s] flex-grow bg-white flex justify-center items-center py-0 px-[5%];
}

@keyframes fade-in-bar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
